<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>The-Alpha-Club</span>
    <span routerLink="/events" routerLinkActive="active"><a class="space">Events</a></span>
    <span routerLink="/special" routerLinkActive="active"><a class="space">Members</a></span>
    <span class="example-spacer"></span>
    <span routerLink="/register" routerLinkActive="active"><a class="space">register</a></span>
    <span routerLink="/login" routerLinkActive="active"><a class="space">login</a></span>
  </mat-toolbar-row>
</mat-toolbar>  

<div class="container">
  <router-outlet></router-outlet>
</div>